// Colore sfondo Notchservices
$bg_blu: #051745;

// Colore sfondo cerchio Clientsay
$bg_black: black;

// Colore paragrafi
$clr_grey: #5a5759;

// Colori card NewAgency
$bg_white_card: #f8f8f8;
$bg_white_card_hover: #bcbbbc;
