// Colori bottone blu
$btn_sky: #0369d7;
$btn_sky_over: #1a236c;
$btn_sky_text: #f3f3f3;

// Colori bottone arancione
$btn_org: #ffa837;
$btn_org_hover: #dd9f4d;

// Colore sfondo Notchservices
$bg_blu: #051745;

// Colore sfondo cerchio Clientsay
$bg_black: black;

// Colore paragrafi
$clr_grey: #5a5759;

// Colori card NewAgency
$bg_white_card: #f8f8f8;
$bg_white_card_hover: #bcbbbc;
